<h1>Scrum board</h1>

<div class="container">
  <div class="row">
    <div class="col scrum-column">
      <app-scrum-column [name]="'To Do'" [state]="'todo'"></app-scrum-column>
      <div class="d-grid gap-2">
        <app-new-card-form></app-new-card-form>
      </div>
    </div>
    <div class="col scrum-column">
      <app-scrum-column [name]="'In Progress'" [state]="'in-progress'"></app-scrum-column>
    </div>
    <div class="col scrum-column">
      <app-scrum-column [name]="'Done'" [state]="'done'"></app-scrum-column>
    </div>
  </div>
</div>

