/* You can add global styles to this file, and also import other style files */
.scrum-column {
  background-color: #fffcdd;
  margin: 5px;
  border-radius: 25px;
}

.card {
  margin: 10px;
  box-shadow: 2px 2px;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: #f3aaff;
  cursor: grab;
}

.scrum-card-title {
  display: flex;
  justify-content: space-between;
}

h3 {
  text-align: center;
}


.create-button {
  margin: 10px;
}
